In [1]:
#DSV Virupaksha Vegi
#E21CSEU0697

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing
import statsmodels.api as sm
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("/Users/divorce-csv.csv")
df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [4]:
data = df
data.shape

(170, 55)

In [5]:
df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [6]:
X = df.drop('Class',axis= 1)
y = df['Class']
print(X)
print(y)

     Atr1  Atr2  Atr3  Atr4  Atr5  Atr6  Atr7  Atr8  Atr9  Atr10  ...  Atr45  \
0       2     2     4     1     0     0     0     0     0      0  ...      3
1       4     4     4     4     4     0     0     4     4      4  ...      2
2       2     2     2     2     1     3     2     1     1      2  ...      2
3       3     2     3     2     3     3     3     3     3      3  ...      3
4       2     2     1     1     1     1     0     0     0      0  ...      2
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...  ...    ...
165     0     0     0     0     0     0     0     0     0      0  ...      0
166     0     0     0     0     0     0     0     0     0      0  ...      3
167     1     1     0     0     0     0     0     0     0      1  ...      2
168     0     0     0     0     0     0     0     0     0      0  ...      4
169     0     0     0     0     0     0     0     1     0      0  ...      1

     Atr46  Atr47  Atr48  Atr49  Atr50  Atr51  Atr52  Atr53  Atr54
0        2      1      3      3      3      2      3      2      1
1        2      2      3      4      4      4      4      2      2
2        3      2      3      1      1      1      2      2      2
3        2      2      3      3      3      3      2      2      2
4        2      1      2      3      2      2      2      1      0
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
165      1      0      4      1      1      4      2      2      2
166      4      1      2      2      2      2      3      2      2
167      3      0      2      0      1      1      3      0      0
168      3      3      2      2      3      2      4      3      1
169      3      4      4      0      1      3      3      3      1

[170 rows x 54 columns]
0      1
1      1
2      1
3      1
4      1
      ..
165    0
166    0
167    0
168    0
169    0
Name: Class, Length: 170, dtype: int64

In [7]:
print(X.shape)
print(type(X))

(170, 54)
<class 'pandas.core.frame.DataFrame'>

In [8]:
print(y.shape)
print(y.info)

(170,)
<bound method Series.info of 0      1
1      1
2      1
3      1
4      1
      ..
165    0
166    0
167    0
168    0
169    0
Name: Class, Length: 170, dtype: int64>

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)

In [10]:
class MyLogisticRegression:
    def __init__(self, learning_rate=0.01, max_iterations=1000):
        self.learning_rate  = learning_rate
        self.max_iterations = max_iterations
        self.likelihoods    = []
        
        self.eps = 1e-7

    def sigmoid(self, z):
        sig_z = (1/(1+np.exp(-z)))
        
        assert (z.shape==sig_z.shape), 'Error in sigmoid implementation. Check carefully'
        return sig_z
    
    def log_likelihood(self, y_true, y_pred):
        
        y_pred = np.maximum(np.full(y_pred.shape, self.eps), np.minimum(np.full(y_pred.shape, 1-self.eps), y_pred))
        
        
        likelihood = (y_true*np.log(y_pred)+(1-y_true)*np.log(1-y_pred))
    
        
        
        return np.mean(likelihood)
    
    def fit(self, X, y):
        
        
        num_examples = X.shape[0]
        num_features = X.shape[1]
        
        
        
        
        self.weights = np.zeros((X.shape[1]))
        
        for i in range(self.max_iterations):
            
            
            z  = np.dot(X,self.weights)
          
            
            y_pred = self.sigmoid(z)
            
            
            
            
            gradient = np.mean((y-y_pred)*X.T, axis=1)
            
            
            self.weights +=  self.learning_rate*gradient
            
            
            likelihood = self.log_likelihood(y,y_pred)

            self.likelihoods.append(likelihood)
    
        
    
    def predict_proba(self,X):
        if self.weights is None:
            raise Exception("Fit the model before prediction")
      
               
        z = np.dot(X,self.weights)
        probabilities = self.sigmoid(z)
        
        
        return probabilities
    
    def predict(self, X, threshold=0.5):
        binary_predictions = np.array(list(map(lambda x: 1 if x>threshold else 0, self.predict_proba(X))))
        return binary_predictions

In [14]:
model = MyLogisticRegression()
model.fit(X_train,y_train)

In [20]:
y_pred = model.predict(X_test)

def accuracy(y_true,y_pred):
    
    count=0
    ### START CODE HERE
    y_cap = y_pred - y_true
    count = np.count_nonzero(y_cap==0)   
    accuracy = (count/len(y_pred))*100
    ### END CODE HERE
    return accuracy
  
accuracy(y_test,y_pred)

88.46153846153845